<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://92.94.91.151:3306/cinego</property>
  <property name="hibernate.connection.username">admincinego</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.password">JoshBastRILA2015</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="metier.Cinema"/>
  <mapping class="metier.Film"/>
  <mapping class="metier.Reservation"/>
  <mapping class="metier.Salle"/>
  <mapping class="metier.Séance"/>
  <mapping class="metier.Utilisateur"/>
  <mapping class="metier.Genre"/>
  <mapping class="metier.Materiel"/>
 </session-factory>
</hibernate-configuration>
